@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: 237 242 244;
  --gray-1: 141 153 174;
  --gray-2: 43 45 66;
  --red-1: 239 35 60;
  --red-2: 217 4 41;
}

body {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}